<h1>Como jogar</h1>
<h2>Insira no input o tipo de icone (X ou O apenas), envie e depois clique no campo qual o lugar para inserir o caracter</h2>
<input type="text" [(ngModel)]="character" name="character" placeholder="X ou O?">
<button class="button" type="submit" (click)="verifyCharacter()">enviar</button>

<div class="square1">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square2">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square3">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square4">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square5">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square6">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square7">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square8">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>
<div class="square9">
  <button class="botao" type="submit" id="enviar" (click)="showIcon">inserir icone</button>
  <img [src] = "imagem">
</div>